#
# ~/.xpkg sample
#

# 
# $xpkgtop : package top directory
#
#  Base directory in which all distfiles and package installed.
#  Default is nil.

#$xpkgtop = nil

#
# $pkglibdir : package library directory
#
#   Library directory for xpkg.
#   Default is /usr/lib/xpkg.
#   Usually, do not change this.

#$pkglibdir = "/usr/lib/xpkg"

#
# $sysconfdir : configuration file directory.
#
#   This directory can be refered in def file with %{configdir}.
#   default is  /etc/xpkg
#   Usually, do not change this.

#$sysconfdir = "/etc/xpkg"

#
# override config.rb 
#
#   You can override /etc/xpkg/config.rb

#$default_target = "xqt"
